body {
    margin: 0;
    padding: 0;
}

/* Ajout d'une image de fond */
body {
    background-image: url('bgcool.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Style pour le titre */
h1 {
    text-align: center;
    text-decoration: underline;
    color: red;
    font-family: Arial, sans-serif;
}

/* Style pour les images */
img {
    display: block;
    margin: 0 auto;
}

/* Ajout de marges autour des images */
img {
    margin: 20px;
}